:root {
  --r: 100px;
  --r_soto: 240px;
  --r_tantou: 70px;
 }

 body {
  font-family: "ＭＳ ゴシック" ;
  }
  

 .box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* 掃除内容の円の外側に凡例を置くための、透明の円のCSS */
.chart_souji_soto {
  position: relative;
   width: calc(var(--r_soto) * 4);
   height: calc(var(--r_soto) * 4);
   border-radius: 50%;
   background-image: conic-gradient(
     #009afa00 0% 20%,
     #2daaf800 20% 40%,
     #63c3ff00 40% 60%,
     #8fd3fd00 60% 80%,
     #bae5ff00 80% 100%
   );
}

/* 掃除内容の円のCSS */
.chart_souji {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: calc(var(--r) * 4);
height: calc(var(--r) * 4);
border-radius: 50%;
background-image: conic-gradient(
  #009afa 0% 20%,
  #2daaf8 20% 40%,
  #63c3ff 40% 60%,
  #8fd3fd 60% 80%,
  #bae5ff 80% 100%
);
}

/* 掃除内容のラベルのCSS */
.label_shouji {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: calc(var(--r) * 0.25);
  color: midnightblue;
}

.label_shouji-1 {
  --start: 0;
  --end: 0.2;
  --percentage: calc((var(--start) + var(--end)) / 2);
  --angle: calc(var(--percentage) * 360deg);
  --deg: calc(-90deg + var(--angle));
  translate: calc(cos(var(--deg)) * var(--r_soto) - 50%) calc(sin(var(--deg)) * var(--r_soto)  - 50%) ;
}

.label_shouji-2 {
  --start: 0.2;
  --end: 0.4;
  --percentage: calc((var(--start) + var(--end)) / 2);
  --angle: calc(var(--percentage) * 360deg);
  --deg: calc(-90deg + var(--angle));
  translate: calc(cos(var(--deg)) * var(--r_soto) - 50%) calc(sin(var(--deg)) * var(--r_soto)  - 50%) ;
}

.label_shouji-3 {
  --start: 0.4;
  --end: 0.6;
  --percentage: calc((var(--start) + var(--end)) / 2);
  --angle: calc(var(--percentage) * 360deg);
  --deg: calc(-90deg + var(--angle));
  translate: calc(cos(var(--deg)) * var(--r_soto) - 50%) calc(sin(var(--deg)) * var(--r_soto)  - 50%) ;
}

.label_shouji-4 {
  --start: 0.6;
  --end: 0.8;
  --percentage: calc((var(--start) + var(--end)) / 2);
  --angle: calc(var(--percentage) * 360deg);
  --deg: calc(-90deg + var(--angle));
  translate: calc(cos(var(--deg)) * var(--r_soto) - 50%) calc(sin(var(--deg)) * var(--r_soto)  - 50%) ;
}

.label_shouji-5 {
  --start: 0.8;
  --end: 1;
  --percentage: calc((var(--start) + var(--end)) / 2);
  --angle: calc(var(--percentage) * 360deg);
  --deg: calc(-90deg + var(--angle));
  translate: calc(cos(var(--deg)) * var(--r_soto) - 50%) calc(sin(var(--deg)) * var(--r_soto)  - 50%) ;
}

/* 担当者の円のCSS */
.chart_tantou {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--r_tantou) * 4);
  height: calc(var(--r_tantou) * 4);
  border-radius: 50%;
  background-image: conic-gradient(
    #ffffbc 0% 20%,
    #bcffbc 20% 40%,
    #bcffff 40% 60%,
    #bcbcff 60% 80%,
    #ffbcff 80% 100%
  );
}

/* 担当者のラベルのCSS */
.label_tantou {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: calc(var(--r_tantou) * 0.35);
  color: midnightblue;
}

.label_tantou-1 {
  --start: 0;
  --end: 0.2;
  --percentage: calc((var(--start) + var(--end)) / 2);
  --angle: calc(var(--percentage) * 360deg);
  --deg: calc(-90deg + var(--angle));
  translate: calc(cos(var(--deg)) * var(--r_tantou) - 50%) calc(sin(var(--deg)) * var(--r_tantou)  - 50%) ;
}

.label_tantou-2 {
  --start: 0.2;
  --end: 0.4;
  --percentage: calc((var(--start) + var(--end)) / 2);
  --angle: calc(var(--percentage) * 360deg);
  --deg: calc(-90deg + var(--angle));
  translate: calc(cos(var(--deg)) * var(--r_tantou) - 50%) calc(sin(var(--deg)) * var(--r_tantou)  - 50%) ;
}

.label_tantou-3 {
  --start: 0.4;
  --end: 0.6;
  --percentage: calc((var(--start) + var(--end)) / 2);
  --angle: calc(var(--percentage) * 360deg);
  --deg: calc(-90deg + var(--angle));
  translate: calc(cos(var(--deg)) * var(--r_tantou) - 50%) calc(sin(var(--deg)) * var(--r_tantou)  - 50%) ;
}

.label_tantou-4 {
  --start: 0.6;
  --end: 0.8;
  --percentage: calc((var(--start) + var(--end)) / 2);
  --angle: calc(var(--percentage) * 360deg);
  --deg: calc(-90deg + var(--angle));
  translate: calc(cos(var(--deg)) * var(--r_tantou) - 50%) calc(sin(var(--deg)) * var(--r_tantou)  - 50%) ;
}

.label_tantou-5 {
  --start: 0.8;
  --end: 1;
  --percentage: calc((var(--start) + var(--end)) / 2);
  --angle: calc(var(--percentage) * 360deg);
  --deg: calc(-90deg + var(--angle));
  translate: calc(cos(var(--deg)) * var(--r_tantou) - 50%) calc(sin(var(--deg)) * var(--r_tantou)  - 50%) ;
}